header {
  display: flex;
  background-color: #ff6600;
  color: white;
  text-align: center;
}

.container-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: calc(100% - 400px);
}

.container-infos h1 {
  color: white;
}

.logo img {
  width: 200px;
}

.nav-header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-header a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 25px;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.nav-header a:hover {
  border-color: white;
}

dialog{
  width: 40%;
  min-width: 300px;
  border: 0px;
  padding: 20px;
  box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

dialog input, select, textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

dialog button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

dialog button:hover { background-color: #fd8637; }

dialog button[type="button"]{ background-color: #3d3d3d; }
dialog button[type="button"]:hover{ background-color: #5e5d5c; }

dialog dialog button{ margin-top: 20px;}

dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

dialog p.erro{
  padding: 10px;
  background-color: rgb(255, 190, 190);
  color: rgb(70, 9, 9);
  text-align: center;
}

dialog p.ok{
  padding: 10px;
  background-color: rgb(190, 255, 201);
  color: rgb(19, 124, 41);
  text-align: center;
}

footer {
  background-color: #ff6600;
  color: white;
  text-align: center;
}
footer p {
  padding: 20px;
  color: #fff8e1;
}

footer section {
  padding: 40px 20px;
  text-align: center;
}

footer section h2 {
  color: #ff6600;
}

footer section p {
  color: #000000;
}

footer section a {
  text-decoration: none;
  color: #000000;
}

footer section a:hover {
  color: #ff6600;
}

footer section:nth-child(1),
footer section:nth-child(3) {
  background-color: #f7f7f7;
}

footer section:nth-child(2) {
  background-color: #ffffff;
}

/* Dialog Admin no Cardapio */
#adminCardapioDialog {
  width: 400px; 
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center; 
}

#dialogMsg {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}