:root {
  --base-color: #ff6600;
  --bg-color: #fff8e1;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: center;
  height: 30vh;
}

img {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

section {
  background-color: var(--bg-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #000;
}

section h2 {
  color: var(--base-color);
  padding: 10px;
  text-align: center;
}

form {
  background-color: var(--base-color);
  padding: 50px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input {
  border-radius: 5px;
  padding: 5px;
  border: transparent;
  outline: 0;
}

form button {
  background-color: var(--bg-color);
  color: var(--base-color);
  border: none;
  padding: 10px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
}

.botao-voltar {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 10px 20px;
  background-color: #ff6600;
  color: white;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.botao-voltar:hover {
  background-color: #ff8c40;
}