.imagem  {
    width: 5px;
    height: 5px;   
  }
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
   
    }
    
  .cima{
      color: #ffffff;
      font-size: 30px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
    h1, h2 {
      color: #ff6600;
    }
  
    h3{
      color: black;
    }
    
    .header {
      background-color: #ff6600;
      color: white;
      text-align: center;
      padding: 20px;
      
    }
  
    .nav-cabecalho {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    
    .nav-cabecalho a {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 25px;
      color: white;
      text-decoration: none;
      padding: 10px;
      border: 1px solid transparent;
      transition: border-color 0.3s;
    }
    
    .nav-cabecalho a:hover {
      border-color: white;
    }
    
     .banner {
      background-color:#fff8e1 ;
      background-size: cover;
      background-position: center;
      text-align: center;
      padding: 60px 20px;
    } 
    
    .botaopedido {
      border-radius: 30px;
      background-color: #ff6600;
      color: white;
      border: none;
      padding: 15px 30px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
    }
    
    .botaopedido:hover {
      background-color: #ff8800;
    }
    
    .conteudo {
      padding: 40px 20px;
      text-align: center;
      background-color: #fff8e1;
    }
    
    .produtos {
      display: flex;
      justify-content: space-around;   
    }
    
    .produto {
      border-radius: 30px;
      border: 1px solid #ddd;
      padding: 20px;
      width: 30%;
      background-color: #ff6600;
      color: #ffffff;
     
    }
    
    .produtos img {
      width: 100%;
      border-radius: 30px;
    }
    
    .promocoes {
      background-color: #f7f7f7;
      padding: 40px 20px;
      text-align: center;
    }
    
    .sobreNos {
      padding: 40px 20px;
      text-align: center;
    }
    
    .contatos {
      padding: 40px 20px;
      text-align: center;
      height: 170px;
      background-color: #ddd;
      padding: 40px 20px;
      background-color: #f7f7f7;
    }
  
    .footer {
      background-color: #ff6600;
      color: white;
      text-align: center;
      padding: 20px;
    }
  
    .telLink, .Endereço{
      color: black;
    text-decoration: none; 
    
    }
    .telLink:hover, .Endereço:hover{
      color: #ff6600; 
    }
  
  .logo h1 {
      margin: 0;
  }
  
  .pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pesquisa input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pesquisa button {
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
  }
  
  .pesquisa button:hover {
    background-color: #ddd;
  }
  
  a{
    text-decoration: none;
    color: #ffffff;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    margin-left: 30%;
    display: flex;
    justify-content: center;
}

#cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    gap: 10%; 
    width: 100%;
    padding: 16px;
}

.card {
  color: black;
    background-color: #f3f3f3;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#cart {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 300px;
  height: 400px;
  background-color: #ff6600;
  top: 30%;
  left: 10px;
  padding: 10px;
  border-radius: 10px;
}

#cart h2 {
  color: #fff8e1;
}

#cartItens {
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 60%;
  background-color: #fff8e1;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
}

#cartItens {
  user-select: none;
}

#cartTotal {
  display: flex;
  justify-content: space-between;
  height: 10%;
  background-color: #fff8e1;
  border-radius: 10px;
  padding: 0px 20px 0px 20px;
}